In [20]:
##Ekstrak Data awal

import pandas as pd
import numpy as np

file_path = "../Raw Data/data_requirements.csv"

df = pd.read_csv(file_path)

df.head()

,Unnamed: 0,company,company_rating,location,job_title,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,dates
0,0,PCS Global Tech\n4.7,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\n· Analyze and organize raw d...,"$70,000 /yr (est.)",501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Unknown / Non-Applicable,2024-06-12 00:00:00-10:00
1,1,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,$42.50 /hr (est.),NaN,NaN,NaN,NaN,NaN,NaN,2024-06-12 00:00:00+07:00
2,2,Clairvoyant\n4.4,4.4,Remote,Data Engineer (MDM),Required Skills:\nMust have 5-8+ Years of expe...,$67.50 /hr (est.),51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,NaN,Unknown / Non-Applicable,2024-06-12 00:00:00-10:00
3,3,Apple\n4.2,4.2,"Cupertino, CA",Data Engineer,"Summary\nPosted: Dec 22, 2021\nWeekly Hours: 4...",NaN,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1976.0,$10+ billion (USD),2024-06-12 00:00:00-05:00
4,4,Skytech Consultancy Services\n5.0,5.0,"Baltimore, MD",Data Engineer,Description of Work:\nTechnical experience in ...,$65.00 /hr (est.),1 to 50 Employees,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable,2024-06-12 00:00:00-04:00

In [ ]:
## permasalahan
# 1. companyy founded yang float
# 2. Dates yang timezone tidak berarturan

In [22]:
df['company_founded'].unique()

array([  nan, 1976., 2000., 1998., 1994., 2018., 2019., 1972., 2010.,
       1982., 2003., 2013., 1964., 1969., 2009., 2015., 1984., 1986.,
       1844., 2012., 1999., 1946., 2007., 2020., 2011., 1970., 2016.,
       2017., 1938., 2006., 2001., 2014., 1965., 2022., 1784., 1836.,
       1879., 1926., 1967., 1983., 1849., 1943., 1858., 1916., 1799.,
       1940., 1971., 1980., 1953., 1876., 1992., 1991., 2008., 1851.,
       1928., 1960., 1975., 1973., 1911., 1947., 1892., 1830., 1792.,
       1915., 1995., 1850., 1963., 1959., 1902., 1903., 1918., 1900.,
       1885., 1978., 1899., 1853., 2004., 1989., 2002., 1864., 1955.,
       1898., 1997., 2005., 1968., 1993., 1996., 1901., 2021., 1962.,
       1917., 1942., 1872., 1690., 1877., 1934., 1930., 1921., 1985.,
       1894., 1990., 1875., 1860., 1966., 1936., 1987., 1636., 1977.,
       1910., 1852., 1961., 1937., 1939., 1925., 1841., 1979., 1933.,
       1988., 1948., 1897., 1929., 1810., 1935., 1914., 1913., 1957.,
       1888., 1923., 1905., 1922., 1954., 1958., 1906., 1874., 1919.,
       1866., 1974., 1931., 1863., 1870., 1859., 1949., 1838., 1909.,
       1883., 1920., 1907., 1952., 1956., 1945., 1951., 1710., 1865.,
       1837., 1891., 1927., 1812., 1856., 1861., 1887., 1855., 1889.,
       1884., 1882., 1890., 1881., 1904., 1862., 1981.])

In [24]:
df['company_founded'] = pd.to_numeric(df['company_founded'], errors='coerce').astype('Int64')

df['company_founded'].unique()

<IntegerArray>
[<NA>, 1976, 2000, 1998, 1994, 2018, 2019, 1972, 2010, 1982,
 ...
 1887, 1855, 1889, 1884, 1882, 1890, 1881, 1904, 1862, 1981]
Length: 169, dtype: Int64

In [25]:
df['dates']

0       2024-06-12 00:00:00-10:00
1       2024-06-12 00:00:00+07:00
2       2024-06-12 00:00:00-10:00
3       2024-06-12 00:00:00-05:00
4       2024-06-12 00:00:00-04:00
                  ...
1550    2024-07-01 00:00:00+08:00
1551    2024-07-01 00:00:00-05:00
1552    2024-07-01 00:00:00+01:00
1553    2024-07-01 00:00:00-10:00
1554    2024-07-01 00:00:00+10:00
Name: dates, Length: 1555, dtype: object

In [26]:
df['dates'] = pd.to_datetime(df['dates'], errors='coerce', utc=True)
df['dates'] = df['dates'].dt.tz_convert('Asia/Jakarta')

df['dates']

0      2024-06-12 17:00:00+07:00
1      2024-06-12 00:00:00+07:00
2      2024-06-12 17:00:00+07:00
3      2024-06-12 12:00:00+07:00
4      2024-06-12 11:00:00+07:00
                  ...
1550   2024-06-30 23:00:00+07:00
1551   2024-07-01 12:00:00+07:00
1552   2024-07-01 06:00:00+07:00
1553   2024-07-01 17:00:00+07:00
1554   2024-06-30 21:00:00+07:00
Name: dates, Length: 1555, dtype: datetime64[ns, Asia/Jakarta]